.logo {
    width: 30%;
}

body {
    background-color: #ffd0df;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link {
    
    font-size: large;
    
}
.heroImg {
    width: 100%;
}
.container {
    margin: 5px;
}
button .btn {
    color: #37AAA7;
}
footer {
    background-color: #8fa5c7;
    padding: 25px 25px 25px 25px;
    color: #054169;
}
.footer-link {
    color: #054169;
    text-decoration: none;
}
.row {
    padding: 15px;
}